# Desafio Codenation - Semana 3

In [2]:
# Importando o Pandas
import pandas as pd

In [3]:
# Carregando o dataset
df = pd.read_csv('desafio1.csv', index_col=[0])

In [4]:
# Visualizando o dataset
df.head()

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [15]:
# Tamanho
df.shape

(7000, 11)

# Pergunta única:
A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito
para cada estado do dataset.

In [29]:
# Agrupando e agregando
df.groupby('estado_residencia')['pontuacao_credito'].agg(['mean', 'median','std', pd.Series.mode])

                         mean  median        std  mode
estado_residencia
PR                 648.961294     650  98.607186   850
RS                 651.105143     650  95.136598   850
SC                 649.537653     653  97.233493   850

# Obrigado
### Dener Moreira